{% extends "base.html" %}
{% block content %}

<div class="container">
      {{ wtf.quick_form(menu) }}
      {{ wtf.quick_form(info) }}
    {% if js %}
      <h3>Parameter list</h3>
      {% for key, value in js.items() %}
            <h4 float=right>{{ key + ':' }}&nbsp;&nbsp;&nbsp;       {{ value }}</h4>
      {% endfor %}
    {% endif %}
    {% if img  %}
    <h4></h4>
    <h5><b>Reload the page for the plot to refresh</b></h5>
    <img src="plot.jpg" width=100%>
    {% endif %}
</div>
{% endblock %}